/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

img {
  width: 100%;
}

/* Temp bootstrap styling */
.row > div{
  margin-bottom: 15px;
}
.header{
  min-height: 90px;
}
.footer{
  min-height: 60px;
}
.header, .footer{
  background: #2f2f2f;
}
.content{
  background: #b4bac0;
  min-height: 300px;
}
.sidebar-top{
  min-height: 140px;
  background: #dbdfe7;
}
.sidebar-bottom{
  min-height: 145px;
  background: #7e8aa0;
  margin-bottom: -15px;
}
.section{
  min-height: 150px;
  background: #dbdfe5;
}
.section.bg-alt{
  background: #b4bac0;
}

/* Bootstrap Override */

/* .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.btn-primary {
  width: 160px;
  padding: 1.3rem 0;
  border: 0;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: .5s box-shadow;
}

.btn-primary:hover {
  background-color: #399bd1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
} */
